body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./cropped-world-map.JPG);
    background-attachment: fixed;
    background-size: cover;
}

.welcome-element, #start-button {
    font-family: Silkscreen, Arial;
    font-size: 2vw;
}

#welcome-box-container {
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}

.welcome-element {
    margin-bottom: 1vw;
    border-color: black;
    border-style: solid;
}

#start-button {
    padding: 5px 10px;
}