body {
    margin: 0;
    height: 200vh;
}

hr {
    color: white;
    border-style: solid;
}

#sidebar-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    background-color: lightpink;
    color: white;
    height: 100%;
    border-color: black;
    border-style: solid;
}

.sidebar-element {
    font-family: Silkscreen, Arial;
    font-size: 1.5vw;
    margin-left: 15px;
    margin-right: 15px;
}

#profile-pic {
    height: 40vh;
    margin-top: 15px;
}

