body {
    margin: 0;
    height: 200vh;
    background-color: rgb(85, 153, 255);
    background-image: url(./images/ocean.gif);
    background-attachment: fixed;
    background-size: cover;
}

hr {
    color: white;
    border-style: solid;
}

#sidebar-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    background-color: rgb(137, 226, 255);
    color: white;
    height: 100%;
    border-color: white;
    border-style: inset;
    z-index: 10;
}

.sidebar-element {
    font-family: Silkscreen, Arial;
    font-size: 1.5vw;
    margin-left: 15px;
    margin-right: 15px;
}

#profile-pic {
    height: 38vh;
    margin-top: 15px;
}

#home-button {
    font-family: Silkscreen, Arial;
    color: white;
    background-color: rgb(81, 211, 254);
    border-color: white;
    border-style: solid;
    border-width: 3px;
    font-size: 1.5vw;
    margin-top: 10px;
    padding: 3px;
    transition: border-color 0.4s, color 0.4s, background-color 0.4s;
}

#home-button:hover {
    cursor: pointer;
    background-color: white;
    color:  rgb(81, 211, 254);
    border-color:  rgb(81, 211, 254);
}

#home-button:active {
    opacity: 0.8;
}


#spamton-roast {
    width: 12vw;
    margin-top: 1vw;
    margin-left: 4vw;
}

#info-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 22vw;
}

.grid-element {
    position: relative;
}


.grid-img {
    height: 25vw;
    margin-top: 5px;
    cursor: default;
}

.category-text {
    position: absolute;
    font-family: Silkscreen, Arial;
    font-size: 1.5vw;
    border-style: solid;
    border-color: black;
    color: black;
    background-color: rgb(255, 226, 173);
    padding: 3px 4px;
    cursor: pointer;
}

#interest {
    top: 45%;
    left: 35%;
}

#hobbies {
    top: 35%;
    left: 30%;
}

#music {
    top: 35%;
    left: 15%;
}

#ew {
    top: 50%;
    left: 20%;
}

#shinji {
    top: 35%;
    left: 30%;
}

#random {
    top: 33%;
    left: 35%;
}
