body {
    margin: 0;
    height: 200vh;
    background-color: rgb(85, 153, 255);
}

hr {
    color: white;
    border-style: solid;
}

#sidebar-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    background-color: lightpink;
    color: white;
    height: 100%;
    border-color: white;
    border-style: solid;
}

.sidebar-element {
    font-family: Silkscreen, Arial;
    font-size: 1.5vw;
    margin-left: 15px;
    margin-right: 15px;
}

#profile-pic {
    height: 38vh;
    margin-top: 15px;
}

#info-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 22vw;
}

.grid-img {
    height: 25vw;
    margin-top: 5px;
}

#home-button {
    font-family: Silkscreen, Arial;
    color: white;
    background-color: rgb(255, 104, 129);
    border-color: white;
    border-style: solid;
    border-width: 3px;
    font-size: 1.5vw;
    margin-top: 15px;
    padding: 3px;
    transition: border-color 0.4s, color 0.4s, background-color 0.4s;
}

#home-button:hover {
    cursor: pointer;
    background-color: white;
    color:  rgb(255, 104, 129);
    border-color:  rgb(255, 104, 129);
}

#home-button:active {
    opacity: 0.8;
}

